<div class="container fondoEdit" *ngIf="loading">
    <div class="row justify-content-between align-items-center" id="textosColor">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group" id="espacial">
                    <label for="logo">Nombre de la Actividad</label>
                    <br>
                    <select [(ngModel)]="nombre">
                        <option *ngFor="let item of disciplinas" [value]="item">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="form-group" id="impHasta">
                    <label for="titulo">Observacion</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="descripcion" required>
                </div>
                
                <div class="form-group" id="impHasta">
                <label for="desde">Dia</label>
                <br>
                <input type="date" id="desde" name="desde" value="" [(ngModel)]="dia" required>
                </div>
                <div class="form-group" id="impHasta">
                    <label for="desde">Horario</label>
                    <br>
                    <input type="time" id="hasta" name="hasta" value="" [(ngModel)]="horario" required>
                 </div>
                
                <div class="form-group" id="impHasta">
                    <label for="ubicacion">Cupos</label>
                    <input type="number" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="cupos" required>
                </div>
                <button class="btn btn-success" id="botonAgregar">
                    AGREGAR TURNO
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>