<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class="image d-flex flex-column justify-content-center align-items-center">
      <button class="btn btn-secondary">
        <!--<img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /> -->
        <img [src]="[perfil.fotoPerfil]" id="imgPerfil" *ngIf="perfil && perfil.fotoPerfil">
      </button>
      <span class="name mt-3" *ngIf="perfil && perfil.nombre">{{perfil.nombre}}</span>
      <span class="idd" *ngIf="perfil && perfil.email">{{perfil.email}}</span>
      <div class="d-flex flex-row justify-content-center align-items-center gap-2">
       
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-3">
        <span class="number" *ngIf="perfil && perfil.suscripcionActual">Clases Actuales 📲 {{perfil.suscripcionActual}}
        </span>
        <span style="color: red; font-family: Impact;" *ngIf="perfil?.suscripcionActual <= 0">SIN CLASES DISPONIBLES</span>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-3">
        <span class="number" *ngIf="perfil && perfil.clasesTomadas">Clases Tomadas 💪 {{perfil.clasesTomadas}}
        </span>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-3" style="margin-bottom: 10px;">
        <span class="number" *ngIf="perfil && perfil.clasesRestantes">Clases Restantes ⏳ {{perfil.clasesRestantes}}
        </span>
      </div>
      
      <div class="mt-2 text-center d-flex flex-row justify-content-center align-items-center">
        <button class="btn btn-primary profile-button" type="button" routerLink="/misreservas">Mis Reservas</button>
        <button class="btn btn-success" type="button" style="margin-left: 12px;" routerLink="/reservar">Nueva Reserva</button>
      </div>

      <!--Redes funcionalidad aun no realizada
      <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
        <span><i class="fa fa-twitter"></i></span>
        <span><i class="fa fa-facebook-f"></i></span>
        <span><i class="fa fa-instagram"></i></span>
        <span><i class="fa fa-linkedin"></i></span>
      </div> -->

    <span class="idd" style="margin-top: 20px;">Fecha Última Suscripción </span>
      <div class="px-2 rounded mt-4 date" style="margin-bottom: 30px;">
        <span class="join" *ngIf="perfil && perfil.fechaActualSus">{{perfil.fechaActualSus}}</span>
      </div>
      <div class="d-flex mt-2">
        <button class="btn1 btn-dark" routerLink="/editperfil">Editar Perfil</button>
      </div>
      <div>
        <button class="btn1 btn-dark" routerLink="" style="margin-top: 2px;">Volver</button>
      </div>
       
    </div>
  </div>
</div>
