<div *ngIf="loading" id="principal">

    <div class="container"  *ngIf="isAdmin()">
        <div class="mt-5">
              <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
                <!-- Basic Plan -->
                <div class="row align-items-center">
                  <div class="col-12 col-md-4">
                    <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                        {{detalleReserva.actividad}}
                    </h4>
        
                    <div class="text-secondary-d1 text-120">
                      <span class="ml-n15 align-text-bottom"></span><span class="text-180">{{detalleReserva.dia | date:'EEEE, dd LLLL yyyy'}}</span> / {{detalleReserva.horario}} HS
                    </div>
                  </div>
        
                  <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                    <li>
                      <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>             
                        <span class="text-110"> 😎 {{detalleReserva.apellido}}  {{detalleReserva.nombre}}</span>              
                    </li>
        
                    <li class="mt-25">
                      <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                      <span class="text-110">
                        📄 {{detalleReserva.dni}}
                    </span>
                    </li>
        
                    <li class="mt-25">
                        <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                      <span class="text-110">
                        📱 {{detalleReserva.telefono}}
                    </span>
                    </li>
                  </ul>
        
                  <div class="col-12 col-md-4 text-center" style="margin-top: 5px;">
                    <button class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600" routerLink="/admin">VOLVER</button>
                    <button *ngIf="noMostrarBtnBorrar" class="f-n-hover btn btn-danger btn-raised px-4 py-25 w-75 text-600" (click)="mostrarBotonConf();traerDatosUsuario()">BORRAR</button>
                    <button *ngIf="botonConf" class="f-n-hover btn btn-success btn-raised px-4 py-25 w-75 text-600" (click)="traerDatosUsuario();eliminar(detalleReserva.id)">CONFIRMAR</button>
                  </div>
                </div>      
              </div>                   
            </div>
        </div>

</div>
<div *ngIf="!isAdmin()">
  <h1> No puedes acceder a este menu</h1>
  <button routerLink="/">Volver</button>
</div>
