<div class="container" *ngIf="isAdmin()">
  <div class="row">
    <h2>Dashboard del Administrador</h2>
    <hr />

    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav" style="margin-left: 0">
          <li class="sidebar-brand"></li>
          <li>
            <button
              id="botonesdelmenu"
              class="btn btn-outline-info"
              (click)="mostrarUsuariosRegistrados()"
            >
              <i
                class="fa-solid fa-users"
                (click)="mostrarUsuariosRegistrados()"
              >
              </i>
              <span style="margin-left: 10px">Usuarios</span>
            </button>
            <a hreflang="#" id="noMostrar">
              <i
                class="fa-solid fa-users"
                (click)="mostrarUsuariosRegistrados()"
              >
              </i>
              <span style="margin-left: 10px">Usuarios</span>
            </a>
          </li>
          <li>
            <button
              id="botonesdelmenu"
              class="btn btn-outline-info"
              (click)="mostrarReservas()"
            >
              <i class="fa-solid fa-book" (click)="mostrarReservas()"> </i>
              <span style="margin-left: 10px">Reservas</span>
            </button>
            <a hreflang="#" id="noMostrar">
              <i class="fa-solid fa-book" (click)="mostrarReservas()"> </i>
              <span style="margin-left: 10px">Turnos</span>
            </a>
          </li>
          <li>
            <button
              id="botonesdelmenu"
              class="btn btn-outline-info"
              (click)="mostrarDisciplinas()"
            >
              <i class="fa fa-puzzle-piece" (click)="mostrarDisciplinas()"> </i>
              <span style="margin-left: 10px">Disciplinas</span>
            </button>
            <a hreflang="#" id="noMostrar">
              <i class="fa fa-puzzle-piece" (click)="mostrarDisciplinas()"> </i>
              <span style="margin-left: 10px">Disciplinas</span>
            </a>
          </li>
          <li>
            <button
              id="botonesdelmenu"
              class="btn btn-outline-info"
              (click)="mostrarCrearTurnos()"
            >
              <i class="fa fa-play-circle-o" (click)="mostrarCrearTurnos()">
              </i>
              <span style="margin-left: 10px">Turnos</span>
            </button>
            <a hreflang="#" id="noMostrar">
              <i class="fa fa-play-circle-o" (click)="mostrarCrearTurnos()">
              </i>
              <span style="margin-left: 10px">Turnos</span>
            </a>
          </li>

          <li>
          <button
          id="botonesdelmenu"
          class="btn btn-outline-info"
          routerLink=""
        >
          <i class="fa fa-backward" routerLink="">
          </i>
          <span style="margin-left: 10px">Volver</span>
        </button>
        <a hreflang="#" id="noMostrar">
          <i class="fa fa-backward" routerLink="">
          </i>
          <span style="margin-left: 10px">Volver</span>
        </a>
      </li>

        </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div *ngIf="usuariosRegistrados">
                <app-spinnerdecarga></app-spinnerdecarga>
                <app-usuarios-registrados></app-usuarios-registrados>
              </div>
              <div *ngIf="reservas">
                <app-spinnerdecarga></app-spinnerdecarga>
                <app-adm-reservas></app-adm-reservas>
              </div>
              <div *ngIf="disciplinas">
                <app-spinnerdecarga></app-spinnerdecarga>
                <app-disciplinas></app-disciplinas>
              </div>
              <div *ngIf="crearTurnos">
                <app-spinnerdecarga></app-spinnerdecarga>
                <app-ver-actividad></app-ver-actividad>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isAdmin()">
  <h1> No puedes acceder a este menu</h1>
  <button routerLink="/">Volver</button>
</div>
