<div class="container fondoEdit">
    <div class="row" id="textosColor">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group" id="espacial">
                    <label for="Nombre"> Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido"> Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellido" required>
                </div>
                
                <div class="form-group">
                    <label for="dni"> Dni</label>
                    <input type="number" class="form-control" id="dni" name="dni" [(ngModel)]="dni" required>
                </div>
                <div class="form-group">
                    <label for="direccion"> direccion</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="direccion" required>
                </div>
                <div class="form-group">
                    <label for="localidad"> Localidad</label>
                    <input type="text" class="form-control" id="localidad" name="localidad" [(ngModel)]="localidad">
                </div>
                <div class="form-group">
                    <label for="telefono"> Teléfono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="telefono">
                </div>
                <div class="form-group">
                    <label for="nombreUsuario"> Usuario</label>
                    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
                </div>
                <div class="form-group">
                    <label for="email"> Email</label>
                    <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="form-group">
                    <label for="password"> Contraseña</label>
                    <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="form-group">
                    <label for="password"> Imagen de Perfil (Opcional)</label>
                    <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="fotoPerfil">
                </div>

                
                <button class="btn btn-success" id="botonAgregar">
                    CREAR USUARIO
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>