<div class="card text-center">
  <div class="card-header">Recuperación de contraseña:</div>
  <div class="card-body">
    <h5 class="card-title">Escribe tu correo registrado</h5>
    <input class="col-md-4" type="email" [(ngModel)]="email" />
    <div class="align-content-center" style="margin-top: 10px">
      <button
        class="btn btn-primary"
        (click)="recovery(email)"
        Style="margin-left: 10px;"
      >
        ENVIAR
      </button>
      <button
        class="btn btn-danger"
        (click)="back()"
        Style="margin-left: 10px;"
      >
        VOLVER
      </button>
    </div>
  </div>
  <div class="card-footer text-muted">
    Te enviaremos un email con una contraseña provisoria...
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <img
      src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1692470033/loading-gif_fskhni.gif"
    />
    <p
      class="d-flex justify-content-center text-center mt-4 pt-1"
      style="color: white"
    >
      Espera por favor...
    </p>
  </ngx-spinner>
</div>
