<div class="reservation-container">
  <div class="reservation-card">
    <div class="card-header">
      <h2 class="card-title">Confirmación de Reserva</h2>
      <p class="card-subtitle">Por favor confirma la reserva</p>
    </div>
    <div class="card-body">
      <button
        class="btn btn-outline-primary update-button"
        (click)="recargar()"
      >
        <i class="fas fa-sync-alt mr-2"></i>
        Actualizar
      </button>
      <div class="activity-details justify-content-center" *ngIf="actividades">
        <div class="activity-avatar">
          {{ actividades.nombre.slice(0, 3) }}
        </div>
        <div class="activity-info">
          <h4>{{ actividades.nombre }}</h4>
          <p>
            <i class="far fa-calendar-alt"></i>
            {{ actividades.dia | date : "dd/MM/yyyy" }}
          </p>
          <p>
            <i class="far fa-clock"></i>
            {{ actividades.horario }}
          </p>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="cancelar()">
        <i class="fas fa-times mr-2"></i>
        Cancelar
      </button>
      <button
        class="btn btn-success"
        [disabled]="isLoading"
        (click)="crearReserva()"
      >
        <i class="fas fa-check mr-2" *ngIf="!isLoading"></i>
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="isLoading"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        Confirmar
      </button>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    [fullScreen]="true"
  >
    <img
      src="https://res.cloudinary.com/dighitalsoluciones/image/upload/v1692470033/loading-gif_fskhni.gif"
    />
    <p
      class="d-flex justify-content-center text-center mt-4 pt-1"
      style="color: white"
    >
      Espera por favor...
    </p>
  </ngx-spinner>
</div>
