<div class="container">
  <div class="d-flex flex-row col-10 justify-content-center align-items-center">
<div>
    <h1>Actividades</h1>
<table>
    <thead>
      <tr>
        <th>Actividad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of actividades">
   
        <td>{{turno.nombre}}</td>
        
      </tr>
    </tbody>
  

    <thead>
        <tr>
          <th>Dia</th>
        <th>Cupos disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dias of semana">
     
          <td>{{dias.nombre}}</td>
          
        </tr>
      </tbody>
  </table>
</div>
</div>
</div>
<div class="d-flex flex-row col-10 justify-content-center align-items-center">
<app-calendario></app-calendario>
</div>