
<div class="d-flex col-12 justify-content-center align-items-center text-center">
 <div class="container">
  <h1>Bienvenido a CROSSBOX FITNESS CLUB <img src="https://res.cloudinary.com/djtra8arp/image/upload/v1687803096/nuevologocrossbox_fdkpik_jgc3ng.png" height="50" width="50"></h1>
  <form>
    <p>Seleccionar Actividad</p>
    <div class="form-group">
        <select name="actividadSeleccionada" [(ngModel)]="actividadSeleccionada">
           <option [ngValue]="item.nombre" *ngFor="let item of disciplinas">{{item.nombre}}</option>
        </select>
    </div>
    <br>
    <div class="form-group">
      <label for="fecha">Seleccionar Fecha</label>
      <input type="date" id="fecha" name="fecha" [min]="today" class="form-control" [(ngModel)]="fecha">
    </div>
    <button type="button" class="btn btn-primary" style="margin-top: 0px;" (click)="buscarActividades()">Buscar</button>
    <button type="button" class="btn btn-warning" style="margin: 10px 10px; color: white;" (click)="volver()">Volver</button>
  </form>
</div>
</div>
<br>
<br>
<div class="d-flex col-12 justify-content-center align-items-center text-center">
  <div class="container">
    <h1 style="font-family: Impact;">TURNOS DISPONIBLES</h1>
    <div class="table-responsive-sm" *ngIf="actividades && actividades.length">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Observacion</th>
            <th>Día</th>
            <th>Horario</th>
            <th>Cupos</th>
            <th>Reservar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actividad of actividades | ordenarporHs:'asc':'horario'">
            <td>{{ actividad.nombre }}</td>
            <td>{{ actividad.descripcion }}</td>
            <td>{{ actividad.dia | date: 'dd/MM/yyyy'}}</td>
            <td>{{ actividad.horario }}</td>
            <td>{{ actividad.cupo }}</td>
            <td *ngIf="(actividad.cupo != 0 && mostrarTurno())"><button type="button" class="btn btn-primary" routerLink="/reserva/{{actividad.id}}">Reservar</button></td>
            <td *ngIf="(actividad.cupo == 0 && mostrarTurno())"><button type="button" class="btn btn-danger">SIN CUPOS</button></td>
            <td *ngIf="(usuario.suscripcionActual <= 0)"><button type="button" class="btn btn-warning" (click)="volver()">SIN SUSCRIPCION</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!actividades || !actividades.length">
      <p>No hay turnos disponibles en esta fecha</p>
    </div>
  </div>
</div>