<div class="container" *ngIf="loading">
  <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
          <div class="position-relative card table-nowrap table-card">
              <div class="card-header align-items-center">
                  <h5 class="mb-0">Disciplinas Creadas</h5>
                  <p class="mb-0 small text-muted">Total creadas {{disciplinas.length}}</p>
              </div>
              <div class="table-responsive">
                  <table class="table mb-0">
                      <thead class="small text-uppercase bg-body text-muted">
                          <tr>
                              <th>Imagen</th>
                              <th>Nombre</th>
                              <th>Profesor</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                              
                          </tr>
                      </thead>
                      <tbody *ngFor="let disciplina of disciplinas">
                          <tr class="align-middle">
                              <td>
                                <img [src]="[disciplina.imagen]" height="80" width="80">
                              </td>
                              <td>
                                {{disciplina.nombre}}
                              </td>
                              <td>
                                <span class="badge fs-6 fw-normal bg-tint-success text-success">{{disciplina.profesor}}</span>
                            </td>
                              <td>
                                <button class="btn btn-warning">Editar</button></td>
                              <td>
                                <button class="btn btn-danger" (click)="eliminar(disciplina.id)">Eliminar</button>
                              </td>
                             
                      </tbody>
                  </table>
              </div>
              <div class="card-footer text-end">
                  <button class="btn btn-success" routerLink="/newdisciplina">Crear Nueva</button>
              </div>
          </div>
      </div>
  </div>
</div>