<div class="container fondoEdit" *ngIf="loading">
    <div class="row justify-content-between align-items-center" id="textosColor">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group" id="espacial">
                    <label for="logo">Nombre de la Disciplina</label>
                    <input type="text" class="form-control" id="logo" name="logo" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Descripción</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="descripcion">
                </div>

                <div class="form-group">
                    <label for="profe">Profesor/es</label>
                    <input type="text" class="form-control" id="titulo" name="profe" [(ngModel)]="profesor">
                </div>
                
                <div class="form-group" style="margin-top: 10px;">
                    <label for="imagen"> Imagen de la Disciplina</label>
                    <br>
                    <input type="file" (change)="capturarImagen($event)" [(ngModel)]="imagen" requerid>
                </div>
                <br>
                
                <button class="btn btn-success" id="botonAgregar">
                    AGREGAR DISCIPLINA
                </button>
                <button class="btn btn-danger" id="botonAgregar" (click)="cancelar()">
                    CANCELAR
                </button>
                
            </form>
        </div>
    </div>
</div>