<div class="container divPrincipal mx-auto mb-6 text-center">
    <div class="d-flex flex-row justify-content-center align-items-center">
    
        <button style="margin-top: 10px;" type="button" class="btn btn-success my-2 my-sm-0" (click)="login()" *ngIf="!isLogged">LOGIN</button>
        <button type="button" class="btn btn-info my-2 my-sm-0" routerLink="/perfil" *ngIf="isLogged">IR A MI PERFIL</button>
        <button type="button" class="btn btn-danger my-2 my-sm-0" (click)="onLogout()" *ngIf="isLogged" style="margin-left: 20px;">LOGOUT</button>
      <!-- <button style="margin-top: 10px;" type="button" class="btn btn-success my-2 my-sm-0" routerLink="/probar" >PROBAR</button> ERA LA DEMO PARA SUBIR A CLOUDINARY-->
    
    </div>
    <div style="margin-top: 10px;" class="d-flex flex-row justify-content-center align-items-center"><button style="margin-top: 10px;" type="button" class="btn btn-success my-2 my-sm-0" routerLink="/admin" *ngIf="IsAdmin()">MENU ADMIN</button></div>
    <div class="alineado col-12 text-center">
    <img id="logoPrincipal" src="https://res.cloudinary.com/djtra8arp/image/upload/v1687298052/nuevologocrossbox_fdkpik.png"/>
</div>

<p id="cuadradoUno" class="mx-auto mb-6 text-center" style="color: white;">NOSOTROS 
    <br> Capacitados en las mejores escuelas del país. Nos preparamos para acompañarte en las mejoras motrices, físicas, psíquicas y elevar las capacidades en forma general de los atletas de diferentes niveles en deportes específicos.
Desarrollando un entrenamiento de mejoras generales vamos a ir transformando  la calidad de vida y encontrando un bienestar verdadero.</p>

<p id="cuadradoDos" class="mx-auto mb-6 text-center" style="color: white;">VISION 
    <br> Llevar nuestro negocio a ser reconocido por los altos niveles de profesionalidad, siendo una marca referente en el mercado.</p> 

<p id="cuadradoTres" class="mx-auto mb-6 text-center" style="color: white;"> 🏆 PASES PREMIUM 🏆
    <br> Conseguí un pase PREMIUM, los cupos para obtener estos beneficios son limitados.
    <br>
    <br>PREMIUM MASTER🥇
    <br> Si abonas un plan anual de cualquiera de las opciones, durante el año en curso de tu abono no solo congelas el precio y le ganas a la inflación, sino que tenés la 
        posibilidad de acompañar a 12 nuevos socios y que abonen el mismo plan que vos o superior para que los próximos 12 meses entrenes GRATIS. Si no conseguís 12 y 
        conseguís menos durante el año, ¡¡No te preocupes!!  Te damos 10% de descuento en tu próximo plan por cada uno de los nuevos socios que trajiste con las condiciones
         anteriormente mencionadas. Si los nuevos socios que traes son Premium en otras categorías: Premium Elite (6 Meses) 5% de descuento en tu próximo abono por cada socio 
         que traigas. Premium Amateur (3 Meses) 2% de descuento en tu próximo abono por cada socio Premium Amateur que traigas.
    <br>
    <br>PREMIUM ELITE🥈
    <br>Si abonas un plan de 6 meses de cualquiera de las opciones, durante esos meses en curso de tu abono no solo congelas el precio y le ganas a la inflación sino que  tenés
     la posibilidad de acompañar a 6 nuevos socios que abonen el mismo plan que vos o superior, para que los próximos 6 meses entrenes GRATIS. Si no conseguís 6 y conseguís menos
      durante el plan en curso, ¡¡No te preocupes!! Te damos  5% de descuento en tu próximo plan por cada nuevo socio que trajiste en las condiciones anteriormente mencionadas. 
      Si los nuevos socios que traes son Premium Amateur el descuento será del 2% en tu próximo abono por cada socio que traigas.    
    <br>
    <br>PREMIUM AMATEUR🥉  
    <br>Si abonas un plan de 3 meses de cualquiera de las opciones, durante esos meses en curso de tu abono no solo congelas el precio y le ganas a la inflación sino que tenés la
     posibilidad de acompañar 3 nuevos socios que abonen el mismo plan que vos o superior, para que te regalemos ¡¡1 mes gratis!! </p> 

     <p id="cuadradoUno" class="mx-auto mb-6 text-center" style="color: white;">UNITE A NUESTRO TEAM 
        <br> omentamos el crecimiento personal con capacitaciones constantes, nos gusta y disfrutamos trabajar en equipo, en un ambiente positivo porque creemos que el éxito de las organizaciones se basan en lo que construimos en las personas. 
        (Ariel teléfono: 1156683207)
        <div class="social-links list-inline" style="margin-top: -60px;">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://www.instagram.com/crossbox.fitnessclub/?hl=es" data-original-title="Instagram"><i class="fa-brands fa-instagram fa-beat fa-2xl" style="color: #871a89;"></i></a></li>
            <li class="list-inline-item" style="margin-left: 20px;"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="https://wa.me/5491156683207?text=Estimados Cross Box me interesa formar parte del Staff." data-original-title="whatsapp"><i class="fa-brands fa-whatsapp fa-beat fa-2xl" style="color: #3cd33e;"></i></a></li>
        </div>
        <br>
        
     
   </div>
